*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    overflow-x:hidden;
    background:#F9F8F4;
}


/* =====================================================
   1 СТРАНИЦА
===================================================== */

.hero{
    width:100%;
    height:100vh;

    background:url("background.jpg") center/cover no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(255,255,255,0.15);
}

.hero-content{
    position:relative;
    z-index:2;
    text-align:center;
}

.names{
    display:flex;
    flex-direction:column;
    align-items:center;
    line-height:.8;
}

.hero h1{
    font-family:'Ballet',cursive;
    font-size:95px;
    font-weight:400;
    color:#B07C4C;
}

.iliyas{
    align-self:flex-start;
    margin-left:-90px;

    opacity:0;
    animation:fadeUp 1.8s ease forwards;
}

.amp{
    font-size:80px;
    margin:20px 0;

    opacity:0;
    animation:fadeUp 1.8s ease forwards;
    animation-delay:.5s;
}

.aruzhan{
    align-self:flex-end;
    margin-right:-90px;

    opacity:0;
    animation:fadeUp 1.8s ease forwards;
    animation-delay:1s;
}

.hero h2{
    margin-top:40px;

    font-family:Georgia,serif;
    font-size:26px;
    color:#444;
    letter-spacing:2px;

    opacity:0;
    animation:fadeUp 1.8s ease forwards;
    animation-delay:1.5s;
}


/* =====================================================
   2 СТРАНИЦА
===================================================== */

.invite{
    width:100%;
    min-height:100vh;

    background:#ffffff;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:40px 25px;

    text-align:center;
}

.invite-content{
    width:100%;
    max-width:850px;
}

.invite h3{
    font-family:'Cormorant Garamond',serif;
    font-size:60px;
    color:#B07C4C;
    font-weight:600;

    margin-bottom:35px;

    opacity:0;
    animation:fadeUp 1.8s ease forwards;
}

.line{
    width:120px;
    height:1px;

    background:#C8A46B;

    margin:25px auto;
}

.invite p{
    font-family:Georgia,serif;
    font-size:25px;
    line-height:1.9;
    color:#444;

    opacity:0;
    animation:fadeUp 1.8s ease forwards;
    animation-delay:.6s;
}

.owners{
    margin-top:45px;

    opacity:0;
    animation:fadeUp 1.8s ease forwards;
    animation-delay:1.2s;
}

.owners h4{
    font-family:'Cormorant Garamond',serif;
    font-size:38px;
    color:#B07C4C;
    font-weight:600;

    margin-bottom:15px;
}

.owners p{
    font-family:Georgia,serif;
    font-size:22px;
    line-height:1.8;
    color:#444;
}


/* =====================================================
   3 СТРАНИЦА
===================================================== */

.program{
    width:100%;
    min-height:100vh;

    background:url("background.jpg") center/cover no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:40px 25px;
}

.program-content{
    width:100%;
    max-width:500px;

    margin:0 auto;

    text-align:center;
}


/* ---------- ЗАГОЛОВОК ---------- */

.program h3{
    display:block;
    width:100%;

    margin:0 0 10px 0;

    font-family:'Cormorant Garamond',serif;

    font-size:60px;
    line-height:1.1;

    color:#B07C4C;

    font-weight:600;

    text-align:center;

    opacity:0;
    animation:fadeUp 1.8s ease forwards;
}


/* ---------- ДАТА ---------- */

.program h4{
    display:block;
    width:100%;

    margin:0 0 25px 0;

    font-family:'Cormorant Garamond',serif;

    font-size:38px;
    line-height:1.2;

    color:#B07C4C;

    font-weight:600;

    text-align:center;

    opacity:0;
    animation:fadeUp 1.8s ease forwards;
    animation-delay:.4s;
}


/* ---------- КАЛЕНДАРЬ ---------- */

.calendar{
    width:100%;

    margin:0 auto;

    background:rgba(255,255,255,.7);

    padding:25px;

    border-radius:20px;

    opacity:0;
    animation:fadeUp 1.8s ease forwards;
    animation-delay:.8s;
}

.week,
.days{
    display:grid;

    grid-template-columns:repeat(7,1fr);

    gap:12px;

    width:100%;
}

.week span{
    font-family:Georgia,serif;

    color:#B07C4C;

    font-weight:bold;

    text-align:center;
}

.days span{
    font-family:Georgia,serif;

    color:#444;

    height:35px;

    display:flex;

    justify-content:center;
    align-items:center;

    text-align:center;
}

.days .active{
    width:38px;
    height:38px;

    margin:auto;

    border:2px solid #C8A46B;

    border-radius:50%;

    color:#B07C4C;
}


/* ---------- АДРЕС ---------- */

.location{
    width:100%;

    margin:30px auto 0;

    text-align:center;

    opacity:0;
    animation:fadeUp 1.8s ease forwards;
    animation-delay:1.2s;
}

.location-icon{
    font-size:28px;

    text-align:center;
}

.location p{
    margin:8px 0;

    font-family:Georgia,serif;

    color:#444;

    font-size:18px;

    text-align:center;
}

.location h5{
    display:block;

    width:100%;

    margin:10px 0;

    font-family:'Forum',serif;

    font-size:44px;

    line-height:1.2;

    color:#B07C4C;

    font-weight:400;

    letter-spacing:2px;

    text-align:center;

    text-transform:none;
}

.location span{
    display:block;

    width:100%;

    font-family:Georgia,serif;

    color:#444;

    font-size:18px;

    line-height:1.7;

    text-align:center;
}


/* ---------- ВРЕМЯ ---------- */

.program .time{
    display:block;

    width:100%;

    margin:30px auto 0;

    font-family:'Cormorant Garamond',serif;

    font-size:38px;

    line-height:1.2;

    color:#B07C4C;

    font-weight:600;

    text-align:center;
}


/* =====================================================
   4 СТРАНИЦА
===================================================== */

.thanks{
    width:100%;
    min-height:100vh;

    background:url("background.jpg") center/cover no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:40px 25px;
}

.thanks-content{
    width:100%;
    max-width:500px;
}

.thanks h3{
    font-family:'Cormorant Garamond',serif;

    font-size:58px;
    line-height:1.25;

    color:#B07C4C;

    font-weight:600;

    opacity:0;
    animation:fadeUp 1.8s ease forwards;
}

.flower{
    font-size:35px;

    color:#B07C4C;

    margin:30px 0;

    opacity:0;
    animation:fadeUp 1.8s ease forwards;
    animation-delay:.5s;
}

.welcome{
    font-family:Georgia,serif;

    font-size:24px;

    color:#444;

    line-height:1.6;

    opacity:0;
    animation:fadeUp 1.8s ease forwards;
    animation-delay:.8s;
}

.rsvp-box{
    margin-top:35px;

    background:rgba(255,255,255,.7);

    padding:30px;

    border-radius:25px;

    opacity:0;
    animation:fadeUp 1.8s ease forwards;
    animation-delay:1.2s;
}

.rsvp-box h4{
    font-family:'Cormorant Garamond',serif;

    font-size:32px;

    color:#B07C4C;

    margin-bottom:25px;
}

.rsvp-box input{
    width:320px;

    padding:14px;

    border:none;

    border-bottom:1px solid #C8A46B;

    background:transparent;

    outline:none;

    text-align:center;

    font-family:Georgia,serif;

    font-size:17px;
}

.choice{
    display:flex;

    justify-content:center;

    gap:15px;

    margin-top:25px;
}

.choice button{
    padding:12px 25px;

    border-radius:30px;

    border:1px solid #C8A46B;

    background:white;

    color:#B07C4C;

    font-family:Georgia,serif;

    cursor:pointer;
}


/* =====================================================
   КНОПКА МУЗЫКИ
===================================================== */

.music-btn{
    position:fixed;

    right:20px;
    bottom:20px;

    width:55px;
    height:55px;

    border-radius:50%;

    border:1px solid #C8A46B;

    background:rgba(255,255,255,.8);

    color:#B07C4C;

    font-size:24px;

    z-index:999;

    cursor:pointer;

    box-shadow:0 5px 15px rgba(0,0,0,.1);
}


/* =====================================================
   ОБЩАЯ АНИМАЦИЯ
===================================================== */

@keyframes fadeUp{

    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}


/* =====================================================
   МОБИЛЬНАЯ ВЕРСИЯ
===================================================== */

@media(max-width:768px){

    /* 1 */

    .hero h1{
        font-size:65px;
    }

    .iliyas{
        margin-left:-50px;
    }

    .aruzhan{
        margin-right:-50px;
    }

    .amp{
        font-size:60px;
    }

    .hero h2{
        font-size:20px;
    }


    /* 2 */

    .invite{
        padding:40px 22px;
    }

    .invite h3{
        font-size:42px;
    }

    .invite p{
        font-size:19px;
    }

    .owners h4{
        font-size:32px;
    }

    .owners p{
        font-size:18px;
    }


    /* 3 */

    .program{
        padding:40px 20px;
    }

    .program-content{
        width:100%;
        max-width:500px;
    }

    .program h3{
        font-size:45px;
    }

    .program h4{
        font-size:32px;
    }

    .calendar{
        padding:20px;
    }

    .week,
    .days{
        gap:8px;
    }

    .location h5{
        font-size:38px;
    }

    .location span{
        font-size:18px;
    }

    .program .time{
        font-size:32px;
    }


    /* 4 */

    .thanks h3{
        font-size:42px;
    }

    .welcome{
        font-size:20px;
    }

    .choice{
        flex-direction:column;
        align-items:center;
    }

    .choice button{
        width:200px;
    }

}
