*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    overflow-x:hidden;
    background:#F9F8F4;
}


/* =========================
        1 СТРАНИЦА
========================= */

.hero{

    width:100%;
    height:100vh;

    background:url("background.jpg") center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;

}


.overlay{

    position:absolute;
    inset:0;

    background:rgba(255,255,255,0.15);

}



.hero-content{

    position:relative;
    z-index:2;

    text-align:center;

}



.names{

    display:flex;

    flex-direction:column;

    align-items:center;

    line-height:.8;

}



.hero h1{

    font-family:'Ballet',cursive;

    font-size:95px;

    font-weight:400;

    color:#C8A46B;

}



.iliyas{

    align-self:flex-start;

    margin-left:-90px;

}



.amp{

    font-size:80px;

    margin:20px 0;

}



.aruzhan{

    align-self:flex-end;

    margin-right:-90px;

}



.hero h2{

    margin-top:40px;

    font-family:Georgia,serif;

    font-size:26px;

    color:#444;

    letter-spacing:2px;

}



/* =========================
        2 СТРАНИЦА
========================= */


.invite{


    width:100%;

    min-height:100vh;

    background:white;


    display:flex;

    justify-content:center;

    align-items:center;


    padding:40px 25px;

    text-align:center;


}



.invite-content{

    max-width:850px;

}



.invite h3{


    font-family:'Cormorant Garamond',serif;

    font-size:60px;

    color:#C8A46B;

    font-weight:600;

    margin-bottom:35px;


}



.line{

    width:120px;

    height:1px;

    background:#C8A46B;

    margin:25px auto;


}



.invite p{


    font-family:Georgia,serif;

    font-size:25px;

    line-height:1.9;

    color:#444;


}



.owners{

    margin-top:45px;

}



.owners h4{


    font-family:'Cormorant Garamond',serif;

    font-size:38px;

    color:#C8A46B;

    font-weight:600;

    margin-bottom:15px;


}



.owners p{


    font-family:Georgia,serif;

    font-size:22px;

    line-height:1.8;

    color:#444;


}





/* =========================
        3 СТРАНИЦА
========================= */


.program{


    width:100%;

    min-height:100vh;


    background:url("background.jpg") center/cover no-repeat;


    display:flex;

    justify-content:center;

    align-items:center;


    text-align:center;


    padding:40px 25px;


}




.program-content{

    max-width:500px;

}



.program h3{


    font-family:'Cormorant Garamond',serif;

    font-size:60px;

    color:#C8A46B;

    font-weight:600;

}



.program h4{


    font-family:Georgia,serif;

    font-size:25px;

    color:#444;

    margin:15px 0 20px;

}



.time{


    font-family:'Cormorant Garamond',serif;

    font-size:38px;

    color:#C8A46B;

    font-weight:600;

    margin-bottom:30px;

}




.calendar{


    background:rgba(255,255,255,.7);

    padding:25px;

    border-radius:20px;

}



.week,
.days{

    display:grid;

    grid-template-columns:repeat(7,1fr);

    gap:12px;

}



.week span{

    font-family:Georgia,serif;

    color:#C8A46B;

    font-weight:bold;

}



.days span{


    font-family:Georgia,serif;

    color:#444;

    height:35px;

    display:flex;

    justify-content:center;

    align-items:center;

}



.days .active{


    border:2px solid #C8A46B;

    border-radius:50%;

    width:38px;

    height:38px;

    margin:auto;

    color:#C8A46B;

}





.location{

    margin-top:30px;

}



.location-icon{

    font-size:28px;

}



.location p{

    font-family:Georgia,serif;

    color:#444;

    font-size:18px;

}



.location h5{


    font-family:'Ballet',cursive;

    font-size:55px;

    color:#C8A46B;

    font-weight:400;


}



.location span{


    font-family:Georgia,serif;

    color:#444;

    font-size:18px;

    line-height:1.7;


}





/* =========================
        4 СТРАНИЦА
========================= */


.thanks{


    width:100%;

    min-height:100vh;


    background:url("background.jpg") center/cover no-repeat;


    display:flex;

    justify-content:center;

    align-items:center;


    text-align:center;


    padding:40px 25px;


}



.thanks-content{

    max-width:500px;

}




.thanks h3{


    font-family:'Cormorant Garamond',serif;

    font-size:58px;

    line-height:1.25;

    color:#C8A46B;

    font-weight:600;


}




.flower{


    font-size:35px;

    color:#C8A46B;

    margin:30px 0;


}




.welcome{


    font-family:Georgia,serif;

    font-size:24px;

    color:#444;

    line-height:1.6;


}




.rsvp-box{


    margin-top:35px;

    background:rgba(255,255,255,.7);

    padding:30px;

    border-radius:25px;


}



.rsvp-box h4{


    font-family:'Cormorant Garamond',serif;

    font-size:32px;

    color:#C8A46B;

    margin-bottom:25px;


}



.rsvp-box input{


    width:320px;

    padding:14px;

    border:none;

    border-bottom:1px solid #C8A46B;

    background:transparent;

    outline:none;

    text-align:center;

    font-family:Georgia,serif;

    font-size:17px;


}



.choice{


    display:flex;

    justify-content:center;

    gap:15px;

    margin-top:25px;


}



.choice button{


    padding:12px 25px;

    border-radius:30px;

    border:1px solid #C8A46B;

    background:white;

    color:#C8A46B;

    font-family:Georgia,serif;

    cursor:pointer;


}



/* =========================
        МОБИЛЬНАЯ ВЕРСИЯ
========================= */


@media(max-width:768px){


.hero h1{

    font-size:65px;

}


.iliyas{

    margin-left:-50px;

}


.aruzhan{

    margin-right:-50px;

}


.amp{

    font-size:60px;

}



.hero h2{

    font-size:20px;

}



.invite h3{

    font-size:42px;

}



.invite p{

    font-size:19px;

}



.owners h4{

    font-size:32px;

}



.owners p{

    font-size:18px;

}



.program h3{

    font-size:45px;

}



.time{

    font-size:32px;

}



.thanks h3{

    font-size:42px;

}



.welcome{

    font-size:20px;

}



.choice{

    flex-direction:column;

    align-items:center;

}



.choice button{

    width:200px;

}


}
/* =========================
        ПЛАВНЫЕ АНИМАЦИИ
========================= */


/* первая страница */

.hero .iliyas{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

}



.hero .amp{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.5s;

}



.hero .aruzhan{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1s;

}



.hero h2{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1.5s;

}



/* вторая страница */


.invite h3{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

}



.invite p{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.6s;

}



.owners{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1.2s;

}




/* третья страница */


.program h3{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

}



.program h4{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.4s;

}



.calendar{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.8s;

}



.location{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1.2s;

}




/* четвёртая страница */


.thanks h3{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

}



.flower{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.5s;

}



.welcome{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.8s;

}



.rsvp-box{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1.2s;

}





/* сама анимация */


@keyframes fadeUp{


from{

    opacity:0;

    transform:translateY(40px);

}



to{

    opacity:1;

    transform:translateY(0);

}


}

/* =========================
        КРАСИВЫЕ АНИМАЦИИ
========================= */


/* Общая анимация */

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(40px);

    }


    to{

        opacity:1;

        transform:translateY(0);

    }

}



/* ===== 1 СТРАНИЦА ===== */


.iliyas{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

}



.amp{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.5s;

}



.aruzhan{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1s;

}



.hero h2{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1.5s;

}




/* ===== 2 СТРАНИЦА ===== */


.invite h3{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

}



.invite-content p{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.6s;

}



.owners{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1.2s;

}




/* ===== 3 СТРАНИЦА ===== */


.program h3{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

}



.program h4{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.4s;

}



.time{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.7s;

}



.calendar{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1s;

}



.location{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1.3s;

}




/* ===== 4 СТРАНИЦА ===== */


.thanks h3{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

}



.flower{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.5s;

}



.welcome{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.8s;

}



.rsvp-box{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1.2s;

}

.music-btn{


    position:fixed;

    right:20px;

    bottom:20px;


    width:55px;

    height:55px;


    border-radius:50%;


    border:1px solid #C8A46B;


    background:rgba(255,255,255,.8);


    color:#C8A46B;


    font-size:24px;


    z-index:999;


    cursor:pointer;


    box-shadow:0 5px 15px rgba(0,0,0,.1);


}
style_fixed.css
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    overflow-x:hidden;
    background:#F9F8F4;
}


/* =========================
        1 СТРАНИЦА
========================= */

.hero{

    width:100%;
    height:100vh;

    background:url("background.jpg") center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;

}


.overlay{

    position:absolute;
    inset:0;

    background:rgba(255,255,255,0.15);

}



.hero-content{

    position:relative;
    z-index:2;

    text-align:center;

}



.names{

    display:flex;

    flex-direction:column;

    align-items:center;

    line-height:.8;

}



.hero h1{

    font-family:'Ballet',cursive;

    font-size:95px;

    font-weight:400;

    color:#C8A46B;

}



.iliyas{

    align-self:flex-start;

    margin-left:-90px;

}



.amp{

    font-size:80px;

    margin:20px 0;

}



.aruzhan{

    align-self:flex-end;

    margin-right:-90px;

}



.hero h2{

    margin-top:40px;

    font-family:Georgia,serif;

    font-size:26px;

    color:#444;

    letter-spacing:2px;

}



/* =========================
        2 СТРАНИЦА
========================= */


.invite{


    width:100%;

    min-height:100vh;

    background:white;


    display:flex;

    justify-content:center;

    align-items:center;


    padding:40px 25px;

    text-align:center;


}



.invite-content{

    max-width:850px;

}



.invite h3{


    font-family:'Cormorant Garamond',serif;

    font-size:60px;

    color:#C8A46B;

    font-weight:600;

    margin-bottom:35px;


}



.line{

    width:120px;

    height:1px;

    background:#C8A46B;

    margin:25px auto;


}



.invite p{


    font-family:Georgia,serif;

    font-size:25px;

    line-height:1.9;

    color:#444;


}



.owners{

    margin-top:45px;

}



.owners h4{


    font-family:'Cormorant Garamond',serif;

    font-size:38px;

    color:#C8A46B;

    font-weight:600;

    margin-bottom:15px;


}



.owners p{


    font-family:Georgia,serif;

    font-size:22px;

    line-height:1.8;

    color:#444;


}





/* =========================
        3 СТРАНИЦА
========================= */


.program{


    width:100%;

    min-height:100vh;


    background:url("background.jpg") center/cover no-repeat;


    display:flex;

    justify-content:center;

    align-items:center;


    text-align:center;


    padding:40px 25px;


}




.program-content{

    max-width:500px;

}



.program h3{


    font-family:'Cormorant Garamond',serif;

    font-size:60px;

    color:#C8A46B;

    font-weight:600;

}



.program h4{


    font-family:Georgia,serif;

    font-size:25px;

    color:#444;

    margin:15px 0 20px;

}



.time{


    font-family:'Cormorant Garamond',serif;

    font-size:38px;

    color:#C8A46B;

    font-weight:600;

    margin-bottom:30px;

}




.calendar{


    background:rgba(255,255,255,.7);

    padding:25px;

    border-radius:20px;

}



.week,
.days{

    display:grid;

    grid-template-columns:repeat(7,1fr);

    gap:12px;

}



.week span{

    font-family:Georgia,serif;

    color:#C8A46B;

    font-weight:bold;

}



.days span{


    font-family:Georgia,serif;

    color:#444;

    height:35px;

    display:flex;

    justify-content:center;

    align-items:center;

}



.days .active{


    border:2px solid #C8A46B;

    border-radius:50%;

    width:38px;

    height:38px;

    margin:auto;

    color:#C8A46B;

}





.location{

    margin-top:30px;

}



.location-icon{

    font-size:28px;

}



.location p{

    font-family:Georgia,serif;

    color:#444;

    font-size:18px;

}



.location h5{


    font-family:'Ballet',cursive;

    font-size:55px;

    color:#C8A46B;

    font-weight:400;


}



.location span{


    font-family:Georgia,serif;

    color:#444;

    font-size:18px;

    line-height:1.7;


}





/* =========================
        4 СТРАНИЦА
========================= */


.thanks{


    width:100%;

    min-height:100vh;


    background:url("background.jpg") center/cover no-repeat;


    display:flex;

    justify-content:center;

    align-items:center;


    text-align:center;


    padding:40px 25px;


}



.thanks-content{

    max-width:500px;

}




.thanks h3{


    font-family:'Cormorant Garamond',serif;

    font-size:58px;

    line-height:1.25;

    color:#C8A46B;

    font-weight:600;


}




.flower{


    font-size:35px;

    color:#C8A46B;

    margin:30px 0;


}




.welcome{


    font-family:Georgia,serif;

    font-size:24px;

    color:#444;

    line-height:1.6;


}




.rsvp-box{


    margin-top:35px;

    background:rgba(255,255,255,.7);

    padding:30px;

    border-radius:25px;


}



.rsvp-box h4{


    font-family:'Cormorant Garamond',serif;

    font-size:32px;

    color:#C8A46B;

    margin-bottom:25px;


}



.rsvp-box input{


    width:320px;

    padding:14px;

    border:none;

    border-bottom:1px solid #C8A46B;

    background:transparent;

    outline:none;

    text-align:center;

    font-family:Georgia,serif;

    font-size:17px;


}



.choice{


    display:flex;

    justify-content:center;

    gap:15px;

    margin-top:25px;


}



.choice button{


    padding:12px 25px;

    border-radius:30px;

    border:1px solid #C8A46B;

    background:white;

    color:#C8A46B;

    font-family:Georgia,serif;

    cursor:pointer;


}



/* =========================
        МОБИЛЬНАЯ ВЕРСИЯ
========================= */


@media(max-width:768px){


.hero h1{

    font-size:65px;

}


.iliyas{

    margin-left:-50px;

}


.aruzhan{

    margin-right:-50px;

}


.amp{

    font-size:60px;

}



.hero h2{

    font-size:20px;

}



.invite h3{

    font-size:42px;

}



.invite p{

    font-size:19px;

}



.owners h4{

    font-size:32px;

}



.owners p{

    font-size:18px;

}



.program h3{

    font-size:45px;

}



.time{

    font-size:32px;

}



.thanks h3{

    font-size:42px;

}



.welcome{

    font-size:20px;

}



.choice{

    flex-direction:column;

    align-items:center;

}



.choice button{

    width:200px;

}


}
/* =========================
        ПЛАВНЫЕ АНИМАЦИИ
========================= */


/* первая страница */

.hero .iliyas{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

}



.hero .amp{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.5s;

}



.hero .aruzhan{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1s;

}



.hero h2{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1.5s;

}



/* вторая страница */


.invite h3{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

}



.invite p{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.6s;

}



.owners{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1.2s;

}




/* третья страница */


.program h3{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

}



.program h4{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.4s;

}



.calendar{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.8s;

}



.location{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1.2s;

}




/* четвёртая страница */


.thanks h3{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

}



.flower{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.5s;

}



.welcome{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.8s;

}



.rsvp-box{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1.2s;

}





/* сама анимация */


@keyframes fadeUp{


from{

    opacity:0;

    transform:translateY(40px);

}



to{

    opacity:1;

    transform:translateY(0);

}


}

/* =========================
        КРАСИВЫЕ АНИМАЦИИ
========================= */


/* Общая анимация */

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(40px);

    }


    to{

        opacity:1;

        transform:translateY(0);

    }

}



/* ===== 1 СТРАНИЦА ===== */


.iliyas{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

}



.amp{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.5s;

}



.aruzhan{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1s;

}



.hero h2{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1.5s;

}




/* ===== 2 СТРАНИЦА ===== */


.invite h3{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

}



.invite-content p{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.6s;

}



.owners{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1.2s;

}




/* ===== 3 СТРАНИЦА ===== */


.program h3{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

}



.program h4{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.4s;

}



.time{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.7s;

}



.calendar{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1s;

}



.location{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1.3s;

}




/* ===== 4 СТРАНИЦА ===== */


.thanks h3{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

}



.flower{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.5s;

}



.welcome{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:.8s;

}



.rsvp-box{

    opacity:0;

    animation:fadeUp 1.8s ease forwards;

    animation-delay:1.2s;

}

.music-btn{


    position:fixed;

    right:20px;

    bottom:20px;


    width:55px;

    height:55px;


    border-radius:50%;


    border:1px solid #C8A46B;


    background:rgba(255,255,255,.8);


    color:#C8A46B;


    font-size:24px;


    z-index:999;


    cursor:pointer;


    box-shadow:0 5px 15px rgba(0,0,0,.1);


}
